fastapi==0.115.12
uvicorn==0.34.1
dspy==2.6.14
pydantic==2.11.3
pathlib==1.0.1
transformers==4.50.3
sentence_transformers==4.0.2
torch==2.6.0
psycopg2==2.9.10
logging==0.4.9.6
configparser==7.2.0
pathvalidate==3.2.3