IVFFLAT vs HNSW.txt

alter_db.sql

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
wheels/

.idea